{%- if 'short' in data %}--short{% endif %}

{%- if 'silent' in data %}
--silent{% endif %}

{%- if 'progress-bar' in data %}
--progress-bar{% endif %}

{%- if 'progress-bar-ascii' in data %}
--progress-bar-ascii{% endif %}

{%- if 'time' in data %}
--time{% endif %}

{%- if 'echo' in data %}
--echo{% endif %}

{%- if 'model-type' in data %}
--model-type
{{ data['model-type'] }}{% endif %}

{%- if 'proper-trainfile' in data %}
--proper-trainfile
{{ data['proper-trainfile'] }}{% endif %}

{%- if 'calibration-trainfile' in data %}
--calibration-trainfile
{{ data['calibration-trainfile'] }}{% endif %}

{%- if 'response-name' in data %}
--response-name
{{ data['response-name'] }}{% endif %}

{%- if 'cptype' in data %}
--cptype
{{ data['cptype'] }}{% endif %}

{%- if 'ptype' in data %}
--ptype
{{ data['ptype'] }}{% endif %}

{%- if 'model-data' in data %}
--model-data
{{ data['model-data'] }}{% endif %}

{%- if 'model-in' in data %}
--model-in
{{ data['model-in'] }}{% endif %}

{%- if 'predictfile' in data %}
--predictfile
{{ data['predictfile'] }}{% endif %}

{%- if 'predict-file' in data %}
--predict-file
{{ data['predict-file'] }}{% endif %}

{%- if 'validation-property' in data %}
--validation-property
{{ data['validation-property'] }}{% endif %}

{%- if 'smiles' in data %}
--smiles
{{ data['smiles'] }}{% endif %}

{%- if 'modelfiles' in data %}
--modelfiles
{{ data['modelfiles'] }}{% endif %}

{%- if 'accept-fail' in data %}
--accept-fail{% endif %}

{%- if 'calibration-data' in data %}
--calibration-data
{{ data['calibration-data'] }}{% endif %}

{%- if 'endpoint' in data %}
--endpoint
{{ data['endpoint'] }}{% endif %}

{%- if 'validation-endpoint' in data %}
--validation-endpoint
{{ data['validation-endpoint'] }}{% endif %}

{%- if 'labels' in data %}
--labels
{{ data['labels'] }}{% endif %}

{%- if 'height-start' in data %}
--height-start
{{ data['height-start'] }}{% endif %}

{%- if 'height-end' in data %}
--height-end
{{ data['height-end'] }}{% endif %}

{%- if 'signatures-generator' in data %}
--signatures-generator
{{ data['signatures-generator'] }}{% endif %}

{%- if 'model-out' in data %}
--model-out
{{ data['model-out'] }}{% endif %}

{%- if 'model-out-dir' in data %}
--model-out-dir
{{ data['model-out-dir'] }}{% endif %}

{%- if 'model-name' in data %}
--model-name
{{ data['model-name'] }}{% endif %}

{%- if 'model-category' in data %}
--model-category
{{ data['model-category'] }}{% endif %}

{%- if 'model-version' in data %}
--model-version
{{ data['model-version'] }}{% endif %}

{%- if 'result-format' in data %}
--result-format
{{ data['result-format'] }}{% endif %}

{%- if 'output' in data %}
--output
{{ data['output'] }}{% endif %}

{%- if 'output-format' in data %}
--output-format
{{ data['output-format'] }}{% endif %}

{%- if 'output-inchi' in data %}
--output-inchi
{{ data['output-inchi'] }}{% endif %}

{%- if 'compress' in data %}
--compress
{{ data['compress'] }}{% endif %}

{%- if 'roc' in data %}
--roc{% endif %}

{%- if 'encrypt' in data %}
--encrypt
{{ data['encrypt'] }}{% endif %}

{%- if 'two-factor-pin' in data %}
--two-factor-pin
{{ data['two-factor-pin'] }}{% endif %}

{%- if 'predictor-type' in data %}
--predictor-type
{{ data['predictor-type'] }}{% endif %}

{%- if 'sampling-strategy' in data %}
--sampling-strategy
{{ data['sampling-strategy'] }}{% endif %}

{%- if 'nr-models' in data %}
--nr-models
{{ data['nr-models'] }}{% endif %}

{%- if 'calibration-ratio' in data %}
--calibration-ratio
{{ data['calibration-ratio'] }}{% endif %}

{%- if 'stratified' in data %}
--stratified
{{ data['stratified'] }}{% endif %}

{%- if 'seed' in data %}
--seed
{{ data['seed'] }}{% endif %}

{%- if 'nonconf-measure' in data %}
--nonconf-measure
{{ data['nonconf-measure'] }}{% endif %}

{%- if 'nonconf-beta' in data %}
--nonconf-beta
{{ data['nonconf-beta'] }}{% endif %}

{%- if 'percentiles' in data %}
--percentiles
{{ data['percentiles'] }}{% endif %}

{%- if 'percentilesfile' in data %}
--percentilesfile
{{ data['percentilesfile'] }}{% endif %}

{%- if 'percentiles-data' in data %}
--percentiles-data
{{ data['percentiles-data'] }}{% endif %}

{%- if 'splits' in data %}
--splits
{{ data['splits'] }}{% endif %}

{%- if 'impl' in data %}
--impl
{{ data['impl'] }}{% endif %}

{%- if 'cost' in data %}
--cost
{{ data['cost'] }}{% endif %}

{%- if 'gamma' in data %}
--gamma
{{ data['gamma'] }}{% endif %}

{%- if 'epsilon' in data %}
--epsilon
{{ data['epsilon'] }}{% endif %}

{%- if 'epsilon-svr' in data %}
--epsilon-svr
{{ data['epsilon-svr'] }}{% endif %}

{%- if 'confidences' in data %}
--confidences
{{ data['confidences'] }}{% endif %}

{%- if 'distances' in data %}
--distances
{{ data['distances'] }}{% endif %}

{%- if 'calculate-gradient' in data %}
--calculate-gradient
{{ data['calculate-gradient'] }}{% endif %}

{%- if 'cv-folds' in data %}
--cv-folds
{{ data['cv-folds'] }}{% endif %}

{%- if 'calibration-points' in data %}
--calibration-points
{{ data['calibration-points'] }}{% endif %}

{%- if 'calibration-points-width' in data %}
--calibration-points-width{% endif %}

{%- if 'gradient-images' in data %}
--gradient-images{% endif %}

{%- if 'image-file' in data %}
--image-file
{{ data['image-file'] }}{% endif %}

{%- if 'images' in data %}
--images
{{ data['images'] }}{% endif %}

{%- if 'imagefile' in data %}
--imagefile
{{ data['imagefile'] }}{% endif %}

{%- if 'color-sign-only' in data %}
--color-sign-only
{{ data['color-sign-only'] }}{% endif %}

{%- if 'color-scheme' in data %}
--color-scheme
{{ data['color-scheme'] }}{% endif %}

{%- if 'color-legend' in data %}
--color-legend{% endif %}

{%- if 'custom-scheme' in data %}
--custom-scheme
{{ data['custom-scheme'] }}{% endif %}

{%- if 'atom-numbers' in data %}
--atom-numbers{% endif %}

{%- if 'atom-number-color' in data %}
--atom-number-color
{{ data['atom-number-color'] }}{% endif %}

{%- if 'image-height' in data %}
--image-height
{{ data['image-height'] }}{% endif %}

{%- if 'image-width' in data %}
--image-width
{{ data['image-width'] }}{% endif %}

{%- if 'signature-images' in data %}
--signature-images
{{ data['signature-images'] }}{% endif %}

{%- if 'signature-image-file' in data %}
--signature-image-file
{{ data['signature-image-file'] }}{% endif %}

{%- if 'highlight-color' in data %}
--highlight-color
{{ data['highlight-color'] }}{% endif %}

{%- if 'signature-color-legend' in data %}
--signature-color-legend{% endif %}

{%- if 'signature-atom-numbers' in data %}
--signature-atom-numbers{% endif %}

{%- if 'signature-atom-number-color' in data %}
--signature-atom-number-color
{{ data['signature-atom-number-color'] }}{% endif %}

{%- if 'signature-image-height' in data %}
--signature-image-height
{{ data['signature-image-height'] }}{% endif %}

{%- if 'signature-image-width' in data %}
--signature-image-width
{{ data['signature-image-width'] }}{% endif %}
